/* Formatacoes gerais*/
*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

/* Layout */

body{
    height: 8224px;
    background: url(../img/Design.png) no-repeat center;
    font-family: 'Inter', sans-serif;
}

/* nav-bar*/
div .navbar-nav{
    width: 400px;
    margin-top: 8px;
    margin-left: 45px;
    margin-right: 85px;
}

ul.navbar-nav li a {
    font-size: 18px;
    color: #FAFAFA;
}

a.navbar-brand{
    margin-right: 300px;
    font-size: 32px;
    font-weight: 700;
    color: #FAFAFA;
}

a.navbar-brand:hover{
    color: #FAFAFA;
}

div#login-content{
    margin-left: -54px;
    margin-top: 9px;
}

div#login-content .login-click{
    text-decoration: none;
    font-size: 17px;
    color: #FAFAFA;
}

div#login-content .btn-custom{
    font-size: 18px;
    color: #011037;
    background-color: #FFFFFF;
    padding: 14px 45px;
    margin-left: 35px;
    border-radius: 5px;
}

/*Social-icons*/

div#social-icons{
    position: absolute;
    margin-left: 300px;
    margin-top: -880px;
}

div#social-icons a{
    font-size: 25px;
    color: #fafafa;
    margin-top: 25px;
}

a i.fa-facebook-f{
    margin-left: 3px;
}

/*primeiro-conteudo*/
div#conteudo{
    height: 790px;
    background: url(../img/Group\ 1.png) no-repeat top center,
                url(../img/Ellipse\ 753.png) no-repeat top right,
                url(../img/Rectangle\ 1.png),
                #1E5Afa;

    
}

div.container-conteudo{
    margin-top: 70px;
}

div.tittle-primeiro-conteudo h1{
    text-align: center;
    font-size: 85px;
    font-weight: 800;
    color: #FAFAFA;
    letter-spacing: 1px;
    line-height: 80px;
}

div.text-primeiro-conteudo{
    margin-top: 20px;
}

div.text-primeiro-conteudo p{
    text-align: center;
    font-size: 18px;
    color: #FAFAFA;
}

div.col-1 img.button-position{
    position: absolute;
    margin-top: 445px;
    margin-left: -100px;
}

/*About Us*/
div.container-about-us{
    margin-top: -95px;
}

div.tittle-about-us h2{
    text-align: center;
    font-size: 85px;
    font-weight: 600;
    color: #313131;
}

div.primeiro-conteudo-img-about-us{
    margin-top: -110px;
    margin-left: -50px;
}

div.primeiro-conteudo-img-about-us img,
div.segundo-conteudo-img-about-us img{
    z-index: 2;
}

.box-azul-esquerda{
    background: #1E5Afa;
    width: 546px;
    height: 352px;
    border-radius: 10px;
    z-index: 1;
    margin-top: -600px;
    margin-left: 134px;
}

div.primeiro-conteudo-text-about-us{
    margin-top: 160px;
    margin-left: 220px;
}

div.primeiro-conteudo-text-about-us h3,
div.segundo-conteudo-text-about-us h3,
div.terceiro-conteudo-text-about-us h3{
    font-size: 43px;
    font-weight: 600;
    color: #000f37;
}

div.primeiro-conteudo-text-about-us p,
div.segundo-conteudo-text-about-us p,
div.terceiro-conteudo-text-about-us p{
    width: 450px;
    margin-top: 35px;
    font-size: 20px;
    color: #575757;
    line-height: 35px;
    margin-bottom: 35px;
}

div.primeiro-conteudo-text-about-us .btn-more-azulescuro{
    background: #000f37;
    padding: 14px 44px;
}

div.primeiro-conteudo-text-about-us .btn-more-azulescuro a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #FAFAFA;
}

div.segundo-conteudo-text-about-us{
    margin-top: 160px;
    margin-left: 100px;
}

div.segundo-conteudo-img-about-us img{
    margin-left: -200px;
    margin-top: -110px;
}

div.segundo-conteudo-img-about-us .box-azul-direita{
    background: #1E5Afa;
    width: 546px;
    height: 352px;
    border-radius: 10px;
    z-index: 1;
    margin-top: -600px;
    margin-left: 60px;
}

div.terceiro-conteudo-img-about-us img{
    margin-top: -100px;
    margin-left: -50px;
}

div.terceiro-conteudo-img-about-us .box-azul-esquerda-2{
    background: #1E5Afa;
    width: 546px;
    height: 352px;
    border-radius: 10px;
    z-index: 1;
    margin-top: -590px;
    margin-left: 90px;
}

div.terceiro-conteudo-text-about-us{
    margin-top: 200px;
    margin-left: 200px;
}

div.segundo-conteudo-text-about-us .btn-more-semfundo, div.terceiro-conteudo-text-about-us .btn-more-semfundo{
    border: 2px solid #000f37;
    border-radius: 5px;
    padding: 16px 44px;
}

div.segundo-conteudo-text-about-us .btn-more-semfundo a, div.terceiro-conteudo-text-about-us .btn-more-semfundo a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #000f37;
}

/*Our-clients-content*/
div#our-clients-content{
    text-align: center;
    margin-top: 120px;
}

div.our-clients-tittle h2{
    font-size: 85px;
    font-weight: 700;
    color: #313131;
}

div.our-clients-text p{
    font-size: 19px;
    color: #575757;
    margin-top: 40px;
}

div.first-line-logos{
    margin-bottom: -60px;
}

div.testimonials-content-tittle h3{
    margin-top: 20px;
    text-align: center;
    font-size: 85px;
    font-weight: 700;
    color: #313131;
}

div.testimonials-content-text p{
    margin-top: 40px;
    text-align: center;
    font-size: 19px;
    color: #575757;
    margin-bottom: 80px;
}

div.testimonials-white-box{
    width: 580px;
    height: 273px;
    background:#ffffff;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    box-shadow: 0px 2px 4px hsl(0, 0%, 0%,25%);
}

div.testimonials-gray-box{
    width: 580px;
    height: 273px;
    background:#FAFAFA;
    border: 1px solid #E7EBEE;
    border-radius: 10px;
}

div.testimonials-gray-box-3{
    width: 580px;
    height: 273px;
    background:#FAFAFA;
    border: 1px solid #E7EBEE;
    border-radius: 10px;
    margin-right: 10px;
}

div.testimonials-content-text-position{
    margin: 55px 65px 0px 50px;
}

div.testimonials-content-text-position p{
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
    color: #5f7285;
    line-height: 30px;
}

div.testimonials-content-card{
    margin-top: 10px;
    margin-left: 45px;
}

div.testimonials-content-card span.content-card-name{
    font-size: 14px;
    font-weight: 600;
    color: #1B263D;
    position: relative;
    top: -10px;
    left: 8px;
}

div.testimonials-content-card span.content-card-profession{
    font-size: 12px;
    color: #9C9EA3;
    position: relative;
    left: -40px;
    top: 12px;
}

div.testimonials-content-card span.content-card-profession2{
    font-size: 12px;
    color: #9C9EA3;
    position: relative;
    left: -124px;
    top: 12px;
}

div.testimonials-content-card span.content-card-profession3{
    font-size: 12px;
    color: #9C9EA3;
    position: relative;
    left: -86px;
    top: 12px;
}

div.testimonials-content-card span.content-card-profession4{
    font-size: 12px;
    color: #9C9EA3;
    position: relative;
    left: -166px;
    top: 12px;
}

div.testimonials-setas{
    margin-top: 60px;
    margin-left: 55px;
}

div.testimonials-setas span.primeira-seta{
    margin-right: 13px;
}

span.primeira-seta img,span.segunda-seta img{
    width: 50px;
    height: 18px;
}